

.palette_option{
    border-radius: 50%;
    height:33px;
    width:33px;
    cursor: pointer;
    margin: 5px;
}

/* clock */
.time{
    font-size:40px;
}
/* clock */

/* stopwatch    */
.lapList{
    max-height: 230px;
}
/* stopwatch    */